@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.navbar {
  background: linear-gradient(90deg,#4c8a54, #81c3dc  100%);
  display: flex;
  height: 65px;
  padding: 20px;
  color: #fff;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-between;
}
.navbar img {
  height: 100%;
}
.navbar h2 {
  font-size: 1.2rem;
  align-self: center;
}

.navbar h4 {
  padding-left: 20px;
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  padding: 30px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px 0px;
}
.autre{
  display: grid;
}

.form-input {
  max-width: 80%;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #d5d4d8;
  text-indent: 5px;
  
}
.form-button {
  grid-column: 1 / -1;
  margin-left: 35%;
  max-width: 30%;
  font-family: "Karla", sans-serif;
  background-color: #1D201F;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.form-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-button:active {
  background: linear-gradient(90deg, #C58882, #DF928E 100%);
  border: 1px solid black;
}

.meme {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;

}

.meme--image {
  border-radius: 3px;
  max-height: 50vh;
  box-shadow: 1px 1px 2px 1px grey;
}

.meme--text {
  position: absolute;
  max-width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

@media screen and (max-width: 700px) {
  .meme--image {
    max-width: 90%;
  }
}

* {
  scroll-behavior: smooth;
  font-family: "cairo";
}
.image-fade {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
  }

.hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
  }  



  .swiper-pagination-fraction {
    font-size: 30px; /* Adjust the desired font size */
    font-weight: bold; /* You can change this as needed */
    color: #333; /* Change the color to your preferred style */
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-input {
    margin: 10px;
    padding: 8px;
    border: 2px solid #DF928E;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #C58882;
  }
  
  .form-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1D201F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-button:hover {
    background-color: #C58882;
  }
  
  .form-input {
    margin: 10px;
    padding: 8px;
    border: 2px solid #C58882;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    animation: blink 1s infinite alternate;
  }
  
  @keyframes blink {
    0%, 100% {
      border-color: #C58882;
    }
    50% {
      border-color: #DF928E;
    }
  }
  
  .form-input:focus {
    outline: none;
    border-color: #DF928E;
    animation: none; /* Désactive l'animation lorsque le champ est en focus */
  }
  
  .form-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1D201F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out; 
    width: 50%; 
    margin-left: 35%;
    animation: blink 1s infinite alternate; 
  }
  
  @keyframes blink {
    0%, 100% {
      background-color: #C58882;
    }
    50% {
      background-color: #DF928E;
    }
  }
  .form-input[name="textHaut"]::placeholder {
    color: #fff; /* Couleur du texte de l'indice en blanc */
  }
  .form-input[name="textBas"]::placeholder {
    color: #fff; 
  }

    .form-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out; 
    width: 50%; 
    animation: blink 1s infinite alternate; 
  }
  .gif-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out; 
    width: 50%; 
    animation: blink 1s infinite alternate; 
  }

  /* Styles for the loading state */
.loading {
  opacity: 0;
  transition: opacity 0.5s ease; /* Adjust the duration as needed */
}
/* Styles for the loading state */
.loading {
  opacity: 0;
  transition: opacity 0.5s ease; /* Adjust the duration as needed */
}

/* Loading animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading::before {
  content: '';
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}

.ge {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1D201F !important;
  color: #fff !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%; 
  animation: blink 1s infinite alternate; 
}
